* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: radial-gradient(circle, #00ffa3, #00fcc1, #00f7d9, #00f2eb, #00ebf6, #00e1fb, #00d7fe, #00cdff, #00bcff, #00a2ff, #857aff, #dc1fff);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    border: 1px solid #000;
    width: 500px;
    border-radius: 20px;
}

p {
    display: block;
    text-align: center;
    font-family: 'Teko', sans-serif;
    color: #000;
    font-size: 3rem;
    /* -webkit-text-stroke: 1px black; */
}

.ammount {
    font-size: 2rem
}